@import url('https://fonts.googleapis.com/css2?family=Abel&family=Inter&family=Montserrat:wght@500;600&family=Oswald&family=PT+Mono&display=swap');


body {
    margin: 0;
}

header {
    background: #151515;
    display: flex;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
    width: auto;
    height: auto;
}

header .logo {
    padding: 0.5% 1% 0.5% 1%;
}

header .logo img {
    width: 70px;
    /* margin: 0.5% 1% 0.5% 1%; */
}

header .navigation {
    width: 40%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-right: 40%;
}

header .navigation ul li {
    list-style-type: none;
}

header .navigation a {
    color: #FFF;
    text-align: center;

    /* nav a */
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    text-decoration: none;
    /* transform: 0.2s; */
    transition: 0.1s;
}

header .navigation a:hover {
    color: #FFF;
    text-align: center;

    /* nav a */
    font-family: 'Oswald', sans-serif;
    font-size: 22px;
    line-height: normal;
    text-transform: uppercase;
    /* text-decoration: underline; */
    text-shadow: 0px 0px 20px #FFF;
}

header input {
    width: auto;
    height: auto;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    padding: 8px 12px 8px 12px;
    border-radius: 9px;
    margin: 0% 3% 0% 2%;
}


/* ################################################################################ */


img {
    width: 100%;
}


/* ################################################################################ */


main {
    padding: 2% 3% 2% 3%;
}

main h1 {
    color: #000;

    /* Heading <H2> */
    font-family: 'Montserrat', sans-serif;
    font-size: 96px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

main p {
    color: #000000;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

main p b {
    color: #9D292A;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}


/* ################################################################################ */


main .alash-orda .tag-alash-orda {
    display: flex;
    justify-content: center;
}

main .alash-orda .tag-alash-orda img {
    width: 120px;
}


main .alash-orda .tag-alash-orda h2{
    color: #000;
    /* text-align: center; */
    font-family: 'Montserrat', sans-serif;
    font-size: 96px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    max-width: max-content;
}

main .alash-orda h3 {
    color: #9D292A;
    font-family: 'Montserrat', sans-serif;
    font-size: 96px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 2% 0% 2% 0%;
}

main .alash-orda p {
    color: #000;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-indent: 20px;
}

main .alash-orda ul li {
    color: #000;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

main .alash-orda b {
    color: #000;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

main .alash-orda .baspasy {
    display: flex;
}

main .alash-orda .baspasy .class2 img{
    width: 400px;
}

main .alash-orda .baspasy .class1 {
    float: left;
}

main .alash-orda .baspasy .class2 {
    float: right;
}

/* ################################################################################ */


main .qairatkerleri .tag-qairatkerleri {
    display: flex;
    justify-content: center;
}

main .qairatkerleri .tag-qairatkerleri img {
    width: 120px;
}


main .qairatkerleri .tag-qairatkerleri h2{
    color: #000;
    /* text-align: center; */
    font-family: 'Montserrat', sans-serif;
    font-size: 96px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    max-width: max-content;
}

main .qairatkerleri .conteiner {
    display: flex;
    justify-items: stretch;
    
}

main .qairatkerleri .conteiner .photo {
    display: flex;
    flex-direction: column;
    margin-right: 1%;
}

main .qairatkerleri .conteiner .photo p {
    text-align: center;
    text-indent: 0%;
    width: 350px;
}

main .msg {
    padding: 20px 20px;
    background: #f8f8f8;
}

main #message {
    margin: 0 10px;
    font-family: 'PT Mono', monospace;
}

main .qairatkerleri .conteiner #message {
    text-align: left;
    font-style: italic;
    font-family: Iosevka Nerd Font;
}

main .qairatkerleri .conteiner .photo hr {
    width: 100%;
    height: 3px;
    background-color: #000000;
    border: 0;
}

main .qairatkerleri .conteiner .photo img {
    width: 350px;
}

main .qairatkerleri .conteiner .information .title-year {
    display: flex;
}

main .qairatkerleri .conteiner .information .title-year h3 {
    color: #9D292A;
    font-family: Oswald;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
    margin: 0px 10px 0px 0px;
    align-self: end;
    line-height: 1;
}

main .qairatkerleri .conteiner .information .title-year h5 {
    color: #4D4D4D;
    font-family: Oswald;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    flex-shrink: 0;
    margin: 0px 0px 0px 0px;
    text-align: center;
    align-self: end;
    line-height: 1.2;
}

main .qairatkerleri .conteiner .information .info p {
    color: #000;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    text-indent: 9px;
}

main .qairatkerleri .conteiner .information .info b {
    color: #000;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
}

main .qairatkerleri .conteiner .information .info li {
    color: #000;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    text-indent: 9px;
}

main .qairatkerleri .hr-line {
    display: flex;
    margin: 4% 0 4% 0;
    justify-content: space-between;
}

main .qairatkerleri .hr-line img {
    width: 4%;
}

main .qairatkerleri .hr-line #img-2 {
    transform: rotate(45deg);
}

main .qairatkerleri .hr-line #img-3 {
    transform: rotate(90deg);
}

main .qairatkerleri .hr-line #img-4 {
    transform: rotate(135deg);
}

main .qairatkerleri .hr-line #img-5 {
    transform: rotate(180deg);
}

main .qairatkerleri .hr-line #img-6 {
    transform: rotate(-135deg);
}

main .qairatkerleri .hr-line #img-7 {
    transform: rotate(-90deg);
}

main .qairatkerleri .hr-line #img-8 {
    transform: rotate(-45deg);
}

/* ################################################################################ */


main .photo-gallery .tag-photo-gallery {
    display: flex;
    justify-content: center;
}

main .photo-gallery .tag-photo-gallery img {
    width: 120px;
}


main .photo-gallery .tag-photo-gallery h2{
    color: #000;
    /* text-align: center; */
    font-family: 'Montserrat', sans-serif;
    font-size: 96px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    max-width: max-content;
}

/* ========================================================================================= */

footer {
    background: #151515;
    /* display: flex; */
    /* padding: 20px; */
    /* justify-content: start; */
    /* align-items: center; */
    width: auto;
    height: auto;
    padding: 0 0 5px 0;
    margin: 0;
}

footer .div-footer {
    /* background: #151515; */
    display: flex;
    padding: 20px;
    justify-content: start;
    align-items: center;
    width: auto;
    height: auto;
    margin: 0;
}

footer .logo {
    padding: 0.5% 1% 0.5% 1%;
    align-items: center;
}

footer .logo img {
    width: 70px;
}

footer .nav {
    display: flex;
    justify-content: start;
    width: 100%;

}

footer .nav ul {
    width: 30%;
    list-style-type: none;
    color: #B3B3B3;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

footer .nav ul a {
    color: #B3B3B3;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

footer .nav h3 {
    color: #FFF;
    font-family: Inter;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 1% 0%
}

footer .nav hr {
    height: 2px;
    border: 0;
    background: #4D4D4D;
}

footer .about hr {
    margin: 0;
    background: #4D4D4D;
    border: 0;
    height: 1px;
    width: auto;
    justify-items: center;
}

footer .about #about-1 {
    color: #7B7B7B;
    text-align: center;
    /* font-family: Oswald; */
    font-family: 'Abel', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: block;
    margin: 5px 0 1px 0;
}

footer .about #about-2 {
    color: #7B7B7B;
    text-align: center;
    font-family: 'Abel', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 1px 0 5px 0;
}